@model List<ImageSharingWebRole.Models.SelectItemView>

    @{
    ViewBag.Title = ("Hello " + ViewBag.name);
    }

    <h2>@ViewBag.Title </h2>
    
     @{ Html.BeginForm("QueueMessages", "Images", FormMethod.Post);}
    <fieldset>
        <legend>Here are your messages</legend>
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <th>Id</th>
                <th>Insertion Time</th>
                <th>Message</th>
            </tr>
            @for (var i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(m=>m[i].Id)
                        @Html.CheckBoxFor(m=>m[i].Checked)
                    </td>
                    <td>
                        @Html.DisplayFor(m=>m[i].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m=>m[i].message)
                    </td>
                </tr>
            }
        </table>

        <p>
            <input type="submit" value="Delete ?" />
        </p>

    </fieldset>
    @ViewBag.Message
    @{Html.EndForm();}
