@model ImageSharingWithCloudStorage.Models.ImagesView
@{
    ViewBag.Title = "Update an Image";
}

<h2>@ViewBag.Title</h2>

@{ Html.BeginForm("Edit", "Images", FormMethod.Post);}

<fieldset>
    <legend>Edit image information</legend>
    @Html.AntiForgeryToken()
    @*@Html.HiddenFor(m => m.Id)*@

    @*
    <p><img src="@Url.Content("~/Content/Images/img-" + @Model.Id + ".jpg")" /> </p>
    *@
    <p><img src="@Model.Uri"/></p>
    <p>Image id: @Model.Id</p>
    
    <p>
        Caption: @Html.TextBoxFor(m => m.Caption)
        <span class="err">@Html.ValidationMessageFor(m => m.Caption)</span>
    </p>
    <p>
        Select a tag: @Html.DropDownListFor(m => m.TagId, ViewBag.Tags as SelectList)
    </p>
    <p>
        Description: <br /> @Html.TextAreaFor(m => m.Description,
                                           5, 50, null)
        <span class="err">@Html.ValidationMessageFor(m => m.Description)</span>
    </p>

    <p>
        Date taken: @Html.TextBoxFor(m => m.DateTaken)
        <span class="err">@Html.ValidationMessageFor(m => m.DateTaken)</span>
    </p>

    <p> <input type="submit" value="Submit Changes" /> </p>
</fieldset>

<p class="err"> @ViewBag.Message </p>
<p class="err">@Html.ValidationSummary()</p>

@{ Html.EndForm();}